<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.gymhop.p5m">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.LoginRegister.InfoScreen" />
        <activity android:name=".view.activity.Main.Home" />
        <activity android:name=".view.activity.LoginRegister.Login" />
        <activity android:name=".view.activity.Main.TrainerProfileActivity" />
        <activity android:name=".view.activity.Main.FilterActivity" />
        <activity android:name=".view.activity.Main.MemberShip" />
        <activity
            android:name=".view.activity.Main.ClassProfileActivity"
            android:label="@string/title_activity_class_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.Main.GymProfileActivity"
            android:label="@string/title_activity_gym_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.activity.Main.PackageLimits" />
        <activity
            android:name=".view.activity.Main.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>