<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.gymhop.p5m">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC36Oyf3q-4pO0HC7ZCydtu6OFFgUFxens" />

        <activity android:name=".view.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.activity.LoginRegister.InfoScreen" />
        <activity android:name=".view.activity.LoginRegister.RegistrationActivity" />
        <activity android:name=".view.activity.Main.HomeActivity" />
        <activity android:name=".view.activity.LoginRegister.LoginActivity" />
        <activity android:name=".view.activity.Main.TrainerProfileActivity" />
        <activity android:name=".view.activity.Main.FilterActivity" />
        <activity android:name=".view.activity.Main.MemberShip" />
        <activity
            android:name=".view.activity.Main.ClassProfileActivity"
            android:label="@string/title_activity_class_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.Main.GymProfileActivity"
            android:label="@string/title_activity_gym_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.activity.Main.PackageLimitsActivity" />
        <activity
            android:name=".view.activity.Main.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.Main.PaymentWebViewActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".view.activity.LoginRegister.SignUpOptions"
            android:label="@string/title_activity_sign_up_options"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.activity.LoginRegister.RegistrationDoneActivity" />
        <activity android:name=".view.activity.Main.EditProfileActivity" />
        <activity android:name=".view.activity.Main.SettingActivity" />
        <activity android:name=".view.activity.Main.LocationListMapActivity" />
        <activity
            android:name=".view.activity.LoginRegister.ContinueUser"
            android:label="@string/title_activity_continue_user"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.activity.Main.TransactionHistoryActivity" />
        <activity android:name=".view.activity.Main.SettingNotification" />
        <activity android:name=".view.activity.Main.ChooseFocusActivity" />
        <activity android:name=".view.activity.Main.ChooseNationalityActivity" />
        <activity android:name=".view.activity.Main.ChangePasswordActivity" />
        <activity
            android:name=".view.activity.Main.CheckoutActivity"
            android:launchMode="singleTask" />
        <activity android:name=".view.activity.Main.TrainerListActivity"></activity>
    </application>

</manifest>