<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.p5m.me">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.p5m.me.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.p5m.me.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl">
        <activity android:name=".view.activity.Main.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".view.activity.Main.PaymentOptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.Main.ExpandCityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.Main.LocationSelectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.Main.GetStartedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.Main.GymTrainerListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.Main.MembershipInfoActivity"
            android:label="@string/membership_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ClassProfileActivityNew"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.Main.WalletDetailActivity" />

        <meta-data
            android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
            android:value="true" />

        <receiver
            android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.p5m.me" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.Main.DeepLinkActivity"
            android:label="${appName}"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/p5m_app">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostName}"
                    android:scheme="http" />
                <data
                    android:host="${hostName_www}"
                    android:scheme="http" />
                <data
                    android:host="${hostName}"
                    android:scheme="https" />
                <data
                    android:host="${hostName_www}"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- /////////////////////// FACEBOOK LOGIN /////////////////////// -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" /> <!-- //////////////////////////////////////////////////////////// -->
        <!-- /////////////////////// FABRIC /////////////////////// -->
       <!-- //////////////////////////////////////////////////////////// -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_icon_small" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <service android:name=".notifications.MyFirebaseInstanceIDService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC36Oyf3q-4pO0HC7ZCydtu6OFFgUFxens" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- <receiver -->
        <!-- android:name=".receivers.NetworkChangeReceiver" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- <action android:name="android.net.wifi.WIFI_STATE_CHANGED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".view.activity.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginRegister.InfoScreen"
            android:parentActivityName=".view.activity.Splash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginRegister.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.HomeActivity"
            android:parentActivityName=".view.activity.Splash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.activity.LoginRegister.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.LoginRegister.SignUpOptions"
            android:label="@string/title_activity_sign_up_options"

            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.Main.TrainerProfileActivity"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.FilterActivity"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ClassProfileActivity"
            android:label="@string/title_activity_class_profile"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.GymProfileActivity"
            android:label="@string/title_activity_gym_profile"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.PackageLimitsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppThemeTranslucent" />
        <activity
            android:name=".view.activity.Main.PaymentWebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePayment" />
        <activity
            android:name=".view.activity.LoginRegister.RegistrationDoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.EditProfileActivity"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.LocationListMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginRegister.ContinueUser"
            android:label="@string/title_activity_continue_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.TransactionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.SettingNotification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ChooseFocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ChooseNationalityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.CheckoutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.TrainerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.NotificationActivity"
            android:parentActivityName=".view.activity.Main.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.custom.GalleryActivity"
            android:theme="@style/AppThemeGallery" />
        <activity
            android:name=".view.activity.Demo"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activity.Main.ForceUpdateActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name=".view.activity.LoginRegister.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.LocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name=".ratemanager.RateAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.p5m.me.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ratemanager.ClassFinishNotificationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.activity.Main.FullRatingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Scale"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".view.activity.Main.ViewClassRating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fxn.pix.Pix"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.PaymentConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Main.ContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.Main.Gym"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.Main.Trainers"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".agorartc.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".agorartc.activities.LiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agorartc.activities.RoleActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agorartc.activities.SettingsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>